@import url('https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  background-color: cadetblue;
}

.title {
  padding: 50px 25px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

h2 {
  font-size: 1.8rem;
  font-weight: 300;
  margin: 0;
}

/* Ensure images are responsive */
picture img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Layout Change for Large Viewports */
@media (min-width: 960px) {
  .header {
    grid-template-columns: repeat(2, 1fr);
  }
  
  picture img {
    object-fit: contain;
  }
}